@import "settings";
@import "foundation";

//body{
//    background-color: bisque;
//}


.BigSun {
    border: 0px;
    max-width: 1920px;
    max-height: 1080px;
    padding-top: 240px;
}
.wday {
    font-size: 30px;
    background-color: aqua;
}

.wdata {
//    height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
    background-color: gainsboro;
}
    
.row {
    max-width: 1920px;
}

//.sun {
//    padding-top: 180px;
//    padding-bottom: 180px;
//}
@media only screen and (max-width: 50em) {
 .icon {
    margin-top:140px;
//    margin-bottom: 165px;
 }
}


@media only screen and (min-width: 50em) {

.icon {
    margin-top:70px;
//    margin-bottom: 60px;
}
}




// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
